body {
    background-color: blanchedalmond;
}

.flex-container {
    width: 600px;
    height: 600px;
    color: peru;
    background-color: beige;
}

.flex-item {
    background-color: lightskyblue;
    color: darkorchid;
    font-size: 50px;
}