
.main {
    width: 500px;
}

h1 {
    margin: 0;
} 

.nombres{
    display: flex;
}

div {
    margin: 0;
    padding: o;
}

.apellido {
    margin-left: 15px;
}

input {
    height: 25px;
}


[type="submit"] {
    margin-top: 20px;
}

.form {
    margin: 0;
}